* {
  margin: 0;
  padding: 0;
  font-family: "Oxanium", sans-serif;
}

body {
  background-color: #dad7cd;
}

.hidden {
  display: none !important;
}

.outerShadow {
  box-shadow: -10px 15px 15px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.12),
    0px 8px 8px 0px rgba(0, 0, 0, 0.12), 0px 16px 16px 0px rgba(0, 0, 0, 0.12);
}

.innerShadow {
    box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.2) inset;
}

.textShadow {
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}

.navigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3a5a40;
  width: 100vw;
  height: 130px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 30px;
}

.navLeftBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #dad7cd;
  width: 196px;
  height: 75px;
  border-radius: 20px;
  margin: 10px 0px 10px 15px;
  transition-duration: 0.3s;
}

.navLeftBox:hover {
    background-color: #588157;
    transition-duration: 0.3s;
}

.navLeftBox:hover .playerName:hover {
    color: #dad7cd;
    transition-duration: 0.3s;
    cursor: pointer;
}

.navRightBox {
    display: none;
    padding-right: 10px;
}

.navOptions {
    background-color: #DAD7CD;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #344e41;
    width: 200px;
    height: 40px;
    transition-duration: 0.3s;
}

.navOptions:hover {
    background-color: #344e41;
    color: #DAD7CD;
    transition-duration: 0.3s;
    cursor: pointer;
}

.playerAvatar {
  margin-left: 10px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 15px;
}

.playerInfoBox {
  margin-left: 5px;
}

.playerName,
.playerHighScore {
  font-size: 14px;
  font-weight: 900;
  color: #344e41;
}

.playerName {
    border: none;
    background-color: transparent;
}

.burgerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dad7cd;
  transition-duration: 0.3s;
  border-radius: 20px;
  width: 54px;
  height: 54px;
  gap: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.burgerButton:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #588157;
    transition-duration: 0.3s;
    border-radius: 20px;
    width: 54px;
    height: 54px;
    gap: 5px;
    margin-right: 15px;
    cursor: pointer;
  }

  .burgerButton:hover .burgerDiv {
    transition-duration: 0.3s;
    background-color:  #DAD7CD;
  }
  

.burgerDiv {
  background-color: #344e41;
  transition-duration: 0.3s;
  width: 26px;
  height: 4px;
  border-radius: 20px;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.burgerOptionsBox {
    position: absolute;
    top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #A3B18A;
    width: 100vw;
    height: 249px;
}

.burgerOptions {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
    transition-duration: 0.5s;
    color: #344e41;
    background-color: #DAD7CD;
    border: none;
    border-radius: 20px;
    width: 305px;
    height: 40px;
}

.burgerOptions:hover {
    text-transform: uppercase;
    font-size: 24px;
    background-color: #588157;
    color: #DAD7CD;
    transition-duration: 0.5s;
    border: none;
    border-radius: 20px;
    width: 305px;
    height: 40px;
    cursor: pointer;
}

.rulesBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 145px;
    background-color: #3A5A40;
    color: white;
    border-radius: 20px;
    width: 315px;
    height: 228px;
}

.rulesTextBox {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 35px;
    height: 35px;
    background-color: #DAD7CD;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    border: none;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.closeButton:hover {
    background-color: #3a5a40;
    cursor: pointer;
    transition-duration: 0.3s;
}

.closeButton:hover .closeX {
    transition-duration: 0.3s;
    color: #DAD7CD;
}

.closeX {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a5a40;
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
    transition-duration: 0.3s;
}

.rulesTitle {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.rulesText {
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
}

.leaderboardBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 145px;
    background-color: #3A5A40;
    color: white;
    border-radius: 20px;
    width: 315px;
    height: 228px;
    overflow: auto;
}

.leaderboardTitle {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.leaderboardPlayerBG {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dad7cd;
    width: 250px;
    height: 75px;
    border-radius: 20px;
    margin: 10px 0px 10px 15px;
    transition-duration: 0.3s;
}

.leaderboardInfoBox {
    margin-left: 5px;
}

.leaderboardPlayerAvatar {
    margin-left: 10px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 15px;
}

.leaderboardPlayerName, .leaderboardPlayerHighscore {
    font-size: 14px;
    font-weight: 900;
    color: #344e41;
}

.bestPlayer {
    width: 265px;
    height: 75px;
    background-color: #E7D27C;
}

.secondBestPlayer {
    width: 260px;
    height: 75px;
    background-color: #BBC2CC;
}

.thirdBestPlayer {
    width: 255px;
    height: 75px;
    background-color: #e5af60;
}

.settingsBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 145px;
    background-color: #3A5A40;
    color: white;
    border-radius: 20px;
    width: 315px;
    height: 228px;
    overflow: auto;
}

.settingsTitle {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.difficultyText {
    margin-top: 20px;
    font-weight: bold;

}

.difficultiesButtonsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.easyButton {
    background-color: #428643;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #DAD7CD;
    width: 200px;
    height: 40px;
    transition-duration: 0.3s;
}

.mediumButton {
    background-color: #ec5f00;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #DAD7CD;
    width: 200px;
    height: 40px;
    transition-duration: 0.3s;
}

.hardButton {
    background-color: #c23b22;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #DAD7CD;
    width: 200px;
    height: 40px;
    transition-duration: 0.3s;
}

.easyButton:hover {
    background-color: #2F6030;
    color: #DAD7CD;
    transition-duration: 0.3s;
    cursor: pointer;
}

.mediumButton:hover {
    background-color: #9b3e00;
    color: #DAD7CD;
    transition-duration: 0.3s;
    cursor: pointer;
}

.hardButton:hover {
    background-color: #902c19;
    color: #DAD7CD;
    transition-duration: 0.3s;
    cursor: pointer;
}

.gameSectionBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3a5a40;
  border-radius: 20px;
  width: 315px;
  height: 400px;
  margin-top: 150px;
}

.gameInfosBox {
    display: flex;
    justify-content: space-evenly;
    max-width: 691px;
    width: 100%;
    height: 10px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.scoreText {
    color: #DAD7CD;
    width: 150px;
    height: 24px;
    text-align: left;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.gameRecapBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #d6d3cf;
    border-radius: 20px;
    width: 300px;
    height: 150px;
    gap: 35px;
}

.gameRecapTitle {
    font-size: 24px;
    font-weight: bold;
    color: #3a5a40;
}

.gameRecapText {
    font-size: 16px;
    font-weight: bold;
    color: #3a5a40;
    text-align: center;
}

.gridContainer {
  width: 315px;
  height: 320px;
  display: grid;
    align-items: center;
    justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  padding: 5px 0px 5px 0px;
}

.avocadoHole {
  width: 70px;
  height: 45px;
  background-color: #a3b18a;
  border-radius: 50%;
}

.playerNameInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 50%;
    height: 200px;
    background-color: #588157;
    border-radius: 20px;
    border: 1px solid #344e41;
    opacity: 95%;
    z-index: 6;
    gap: 25px;
    opacity: 100%;
}

.blurredBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    transform: translateY(-49px);
    backdrop-filter: blur(5px);
    background-color: #344e41;
    opacity: 95%;
}

.playerNameInput:focus {
    outline-color: #588157;
    transition-duration: 0.3s;
    opacity: 100%;
}

.nameInput {
    width: 450px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background-color: #DAD7CD;
    border: none;
    border-radius: 20px;
    opacity: 100%;
}

.nameOutput {
    background-color: #DAD7CD;
    color: #344e41;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.3s;
    font-weight: bold;
    opacity: 100%;
}

.nameOutput:hover {
    background-color: #344e41;
    color: #DAD7CD;
    transition-duration: 0.3s;
    cursor: pointer;
    opacity: 100%;
}

.avatarButton {
    width: 150px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #344e41;
    background-color: #DAD7CD;
    border: none;
    border-radius: 20px;
    opacity: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
}

.avatarButton:hover {
    background-color: #344e41;
    color: #DAD7CD;
    transition-duration: 0.3s;
    cursor: pointer;
    opacity: 100%;
}

.timerText {
    width: 30px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #DAD7CD;
}

.startButton {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #344e41;
    border: none;
    border-radius: 20px;
    background-color: #DAD7CD;
    cursor: pointer;
    transition-duration: 0.3s;
}

.startButton:hover {
    background-color: #588157;
    color: #DAD7CD;
    transition-duration: 0.3s;
    cursor: pointer;
}

.pauseButton {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #344e41;
    border: none;
    border-radius: 20px;
    background-color: #DAD7CD;
    cursor: pointer;
    transition-duration: 0.3s;
}

.pauseButton:hover {
    background-color: #588157;
    color: #DAD7CD;
    transition-duration: 0.3s;
    cursor: pointer;
}

@media screen and (min-width: 320px) {

    .playerNameInput {
        width: 300px;
    }

    .nameInput {
        width: 250px;
    }

    .rulesText {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        text-align: center;
        line-height: 25px;
    }

    .rulesPText {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        width: 250px;
    }

    .difficultiesButtonsBox {
        margin-top: 20px;
        gap: 15px;
    }
}

@media screen and (min-width: 425px) {
    .gameSectionBox {
        width: 90vw;
    }

    .rulesBox {
        width: 90vw;
    }

    .gridContainer {
        width: 380px;
        height: 300px;
        gap: 20px;
    }

    .avocadoHole {
        width: 65%;
        height: 55%;
    }

    .gameInfosBox {
        margin-top: -10px;
        margin-bottom: 20px;
    }

    .burgerOptionsBox {
        border-radius: 20px;
        max-width: 691px;
        width: 90vw;
    }

    .settingsBox {
        max-width: 691px;
        width: 90vw;
    }
    
    .leaderboardBox {
        max-width: 691px;
        width: 90vw;
    }

    .playerNameInput {
        width: 400px;
    }

    .nameInput {
        width: 300px;
    }

    .rulesText {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        text-align: center;
        line-height: 25px;
    }

    .rulesPText {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        width: 75%;
    }

    .difficultiesButtonsBox {
        margin-top: 20px;
        width: 90vw;
        gap: 15px;
    }

    .easyButton {
        width: 60%;
    }
    
    .mediumButton {
        width: 60%;
    }
    
    .hardButton {
        width: 60%;
    }
}

@media screen and (min-width: 550px) {
    .gameInfosBox {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .gridContainer {
        width: 500px;
        height: 350px;
        gap: 5px;
    }

    .avocadoHole {
        width: 55%;
        height: 45%;
    }

    .rulesText {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        text-align: center;
        line-height: 25px;
    }

    .rulesPText {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
        width: 75%;
    }

    .difficultiesButtonsBox {
        margin-top: 20px;
        width: 90vw;
        gap: 15px;
    }

    .easyButton {
        width: 300px;
    }
    
    .mediumButton {
        width: 300px;
    }
    
    .hardButton {
        width: 300px;
    }

    .gameRecapBox {
        width: 400px;
        height: 150px;
    }
}

@media screen and (min-width: 768px) {
    .burgerButton {
        display: none;
    }

    .navLeftBox {
        min-width: 250px;
        width: 250px;
        height: 90px;
        margin-left: 10px;
    }

    .playerAvatar {
        width: 75px;
        height: 75px;
    }
    
    .playerName, .playerHighScore {
        font-size: 14px;
    }

    .navRightBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 500px;
        gap: 10px;
    }

    .gameSectionBox {
        max-width: 691px;
    }

    .rulesBox {
        max-width: 691px;
    }

    .rulesText {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        text-align: center;
        line-height: 25px;
    }

    .rulesPText {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        width: 450px;
    }
    

    .burgerOptionsBox {
        display: none;
    }

    .leaderboardBox {
        max-width: 691px;
    }

    .settingsBox {
        max-width: 691px;
    }

    .gameInfosBox {
        max-width: 691px;
    }
}

@media screen and (min-width: 1024px) {
    .navRightBox {
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        gap: 10px;
    }
}

@media screen and (min-width: 1051px) {
    .navRightBox {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        gap: 10px;
    }
    
    .navOptions {
        width: 175px;
    }
}

@media screen and (min-width: 1245px) {

    .gameSectionBox {
    width: 800px;
    height: 560px;
    margin-top: 100px;
    /* margin-left: 40%;  Option opened*/
    }

    .gameInfosBox {
        margin-top: -10px;
        margin-bottom: 25px;
    }

    .scoreText {
        font-size: 24px;
    }

    .gridContainer {
    width: 600px;
    height: 450px;
    gap: 20px;
    }

    .avocadoHole {
    width: 150px;
    height: 85px;
    }

    .rulesBox {
    top: 230px;
    left: 7%;
    border-radius: 20px;
    width: 35%;
    height: 560px;
    }

    .rulesText {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        text-align: center;
        line-height: 25px;
    }

    .rulesPText {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        width: 375px;
    }
    

    .leaderboardBox {
        top: 230px;
        left: 7%;
        border-radius: 20px;
        width: 35%;
        height: 560px;
    }

    .settingsBox {
        top: 230px;
        left: 7%;
        border-radius: 20px;
        width: 35%;
        height: 560px;
    }

    .difficultiesButtonsBox {
        margin-top: 50px;
        width: 90vw;
        gap: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .navLeftBox {
        min-width: 290px;
        width: 290px;
        height: 110px;
        margin-left: 10px;
    }

    .playerAvatar {
        width: 90px;
        height: 90px;
    }
    
    .playerName, .playerHighScore {
        font-size: 16px;
    }
}